# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env
.env.*
.pytest_cache/
.cache/

# VCS
.git/
.gitignore
.gitattributes

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Build/Dist
build/
dist/
coverage/
htmlcov/
