fastapi==0.115.0
uvicorn==0.30.6
gunicorn==22.0.0
starlette==0.38.5
pydantic==2.9.2
opencv-python-headless==4.10.0.84
numpy==2.1.2
# Usa una versione reale pubblicata su PyPI (stabile)
yt-dlp==2025.10.14
aiofiles==24.1.0
